.main{
    width: 40rem;
    height: 31rem;
    margin-left: 225px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.image{
    margin-left:20px
}
img{
    width:200px;
    border-radius: 50%;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

