<app-header></app-header>

<div class="header text-center mt-2 bg-info"><h2>Users Information</h2></div>
<div class="row" >
<div class="  card text-white bg-primary mb-3 dds" *ngFor="let users of usersArray" style=" max-width: 18rem;"   >
  <div class="card-body col">
    <h5 class="card-title">Name: {{users.name}}</h5>
    <p class="card-title">Email: {{users.email}}</p>
    <p class="card-title">Phone: {{users.phone}}</p>
    <p class="card-title">Latitude: {{users.address.geo.lat}}</p>
    <p class="card-title">Longitutude: {{users.address.geo.lng}}</p>
  </div>
</div>
</div>



<!-- <div class="container text-center main">

  <div class="card text-center" *ngFor="let datae of listArray;">
    <div class="image text-center">
    <img src="{{datae.picture.medium}}" class="card-img-top img-circle" alt="...">
  </div>
    <div class="card-body">
      <h5 class="card-title">About Me</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">My Name is : {{datae.name.first + " " + datae.name.last}} </li>
      <li class="list-group-item">
       <mat-icon>calendar_today</mat-icon>  
       {{datae.dob.date| date}}
      </li>
    </ul>
    <div class="card-body">
      <button  (click)="generateUsers()" class="card-link btn btn-primary btn-lg"><mat-icon>people</mat-icon>  Generate User</button>
    </div>
  </div>
  </div> -->
  <router-outlet></router-outlet>
<app-footer></app-footer>
